<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dn4wlzlt5/image/upload/v1665415981/markdown-mailer_m56tqt.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Markdown Mail Sender - TechEmmy</title>
</head>

<body class="font-['Poppins'] border-t-8 border-solid border-t-[#92E3A9] bg-[#efefef]">
    <div class="container max-w-[800px] mx-auto px-10 min-h-screen pb-16">
        <header class="h-full flex mt-36 flex-col sm:flex-row">
            <div class="w-full flex-1">
                <h1 class="text-5xl font-black w-full sm:max-w-[50%] leading-[55px]">Send your email in markdown</h1>
                <p class="text-[#91c59f]">Note: Your data is not collected in anyway. To read the source code click the github icon below</p>
                <a href="https://github.com/techemmy/Markdown-Mail-Sender"><img src="https://img.icons8.com/3d-fluency/30/000000/github.png"/></a>
            </div>
            <div class="flex-1">
                <img class="w-full object-cover	" src="https://i.ibb.co/rtRG8Hz/Mail-sent-bro.png" alt="Bus mail transporter"
                    loading="lazy">
            </div>
        </header>
        <form class="">
            <!-- <div class="form-top flex gap-x-2 flex-col sm:flex-row">
                <div class="form-input my-5 flex flex-col flex-1">
                    <label for="sender-email">Your Gmail Address:</label>
                    <input
                        class="mt-3 py-3 px-6 rounded-lg border-2 outline-none border-[#ced4da] focus:border-[#92E3A9]"
                        type="text" name="sender-email" id="sender-email" placeholder="Only gmail supported"
                        required>

                </div>
                <div class="form-input my-5 flex flex-col flex-1">
                    <label for="sender-password">Your password:</label>
                    <input
                        class="mt-3 py-3 px-6 rounded-lg border-2 outline-none border-[#ced4da] focus:border-[#92E3A9]"
                        type="password" name="sender-password" id="sender-password" placeholder="Sender's password"
                        required>
                </div>
            </div> -->
            <div class="form-top flex gap-x-2 flex-col sm:flex-row">
                <div class="form-input my-5 flex flex-col flex-1">
                    <label for="username">Username:</label>
                    <input
                        class="mt-3 py-3 px-6 rounded-lg border-2 outline-none border-[#ced4da] focus:border-[#92E3A9]"
                        type="text" name="username" id="username" placeholder="This will be the Sender's name"
                        required>

                </div>
                <div class="form-input my-5 flex flex-col flex-1">
                    <label for="receiver-email">Recipients email:</label>
                    <input
                        class="mt-3 py-3 px-6 rounded-lg border-2 outline-none border-[#ced4da] focus:border-[#92E3A9]"
                        type="email" name="receiver" id="receiver-email" placeholder="Separate multiple with comma"
                        required>
                </div>
            </div>

            <div class="form-input my-5 flex flex-col">
                <label for="mail-subject">Subject:</label>
                <input class="mt-3 py-3 px-6 rounded-lg border-2 outline-none border-[#ced4da] focus:border-[#92E3A9]"
                    type="text" name="mail-subject" id="mail-subject" placeholder="Enter the mail's subject" required>
            </div>
            <div class="form-input my-10 flex flex-col prose">
                <textarea name="mail" id="mail-body" cols="30" rows="10"></textarea>
            </div>
            <button
                class="w-full bg-[#92E3A9] hover:bg-[#9de6b2] active:bg-[#91c59f] disabled:bg-[#92E3A9] py-3 px-6 rounded-full"
                id="send-btn" disabled>Send</button>
                <div class="text-center text-sm text-[#91c59f]"><span id="max-no-of-trials">3</span> email(s) left</div>
            <!-- #92E3A9 DISABLED COLOR -->
        </form>
    </div>

    <footer class="w-full h-auto py-3 bg-[#ffffff] grid place-items-center">
        <a target="_blank" href="https://icons8.com/icon/LoL4bFzqmAa0/github">GitHub icon by Icons8</a>
        <p class="text-center">Made with ❤️ by <a class="text-[blue]" href="https://github.com/techemmy">TechEmmy</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/public/script.js"></script>
</body>

</html>