<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <title>Document</title>
</head>

<body>
    <form>
        <textarea name="mail" id="mail-body" cols="30" rows="10"></textarea>
        <button id="send-btn" disabled>Send</button>
    </form>


    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/public/script.js"></script>
</body>

</html>